.empty-counter {
    display: flex;
    justify-content: center;
}
.empty-counter h1{
    font-size: 40px;
    font-weight:200;
    text-align: center;
    background-color: #F2BE22;
    border-radius:20px ;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 600px;
}
.empty-counter span{
    font-weight: bold;
}

@media (max-width: 640px) {
  
    .empty-counter h1{
        font-size: 28px;
        font-weight:280;
        width: 300px;
    }
}