.form-div{
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 300px;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 240px;
    background-color: #02211e8d;
    border: 1px solid #03201d8d;
    border-radius: 20px;
    
}
.label-div {
    height: 30px;
    display: flex;
    justify-content: center;
}
.form-div form{
    display: flex;
    align-items: center;
    width: 85%;
    padding: 5px;
    flex-direction: column;
}
::placeholder{
    color: #02211e8d;
    font-size: large;
}
.form-div textarea{
    height: 120px;
    width: 90%;
    margin: 5px 5px 25px 5px;
    border-radius: 10px;
    border: 0;
    background-color: #7cfaee8d;

}
.form-div button{
    height: 30px;
    width: 90%;
    margin: 5px;
    border-radius: 10px;
    border: 0;
    background-color: #7cfaee8d;

}
.form-div button:hover{
  cursor: pointer;
  background: #F24C3D;}

  @media (max-width: 640px) {
  
    .form-div{
        width: 280px;
        height: 230px;
        margin: 6px;
        padding: 10px;
    }
    .form-div textarea{
        height: 90px;
    }
}