.counter-loading {
    display: flex;
    justify-content: center;
}
.counter-loading h1{
    font-size: 40px;
    font-weight:200;
    text-align: center;
    background: linear-gradient(90deg, #075d54, #969f9e);
    background-size: 400% 400%;
    animation: loadingAnimation 3s ease-in-out infinite;
    border-radius:20px ;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 600px;
}
.counter-loading span{
    font-weight: bold;
}

@media (max-width: 640px) {
  
    .counter-loading h1{
        font-size: 28px;
        font-weight:280;
        width: 380px;
    }
}